spring:
  application:
    name: "help-desk-backend"
  datasource:
    url: jdbc:mysql://localhost:3306/spring_ai_yt
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate.dialect: org.hibernate.dialect.MySQL8Dialect
  ai:
    openai:
      api-key: ${OPENAI_API_KEY}
      chat:
        options:
          model: gpt-4o-mini
    chat:
      memory:
        repository:
          jdbc:
            initialize-schema: always   # Always initialize
server:
  port: 8081
logging:
  level:
    org:
      springframework:
        ai:
          chat:
            client:
              advisor: DEBUG